<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name="submit" value="Register" />
    </form>
  </body>
</html>
